body{
    background-image: linear-gradient(90deg, #c0fefc, #1eae98, #185adb);
    color: rgb(0, 0, 0);
    font-family: arial, sans-serif;
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: arial, sans-serif;
    color:white;
    background-color:#005a8d;
    text-align: center;
}

h2{
    font-size: 30px;
    font-family: arial, sans-serif;
    color:white;
    background-color:#ac66cc;
    text-align: center;
}

h3{
    font-size: 30px;
    font-family: arial, sans-serif;
    color:white;
    background-color:#008d1f;
    text-align: center;
}


input {
    margin: 10px;
}

table {
    font-family: arial, sans-serif;
    color:white;
    border-collapse: collapse;
    width: 25%;
    background-color:#004e8d;
    margin:auto;
}

td, th {
    font-family: arial, sans-serif;
    color:white;
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

img {
    width: 80%;
    display:block;
    margin:auto;
}

button{
    background-image: linear-gradient(90deg, #c0fefc, #1eae98, #185adb);
    width: 150px;
	padding: 10px;
	border-radius: 30px;
	color: white;
}
